.card {
    box-shadow: 2px;
    border: solid grey 2px;
    padding: 27px;
    display: inline-block;
    margin: 5px;
}

.card-image {
    margin: 10px;
}

.title {
    display: block;
    margin: 5px;
}